server:
  log_level: debug

integrations:
  node_exporter:
    enabled: true

metrics:
  wal_directory: /tmp/grafana-agent-wal
  global:
    scrape_interval: 1m
    external_labels:
        cluster: {{ nginx_env }}
  configs:
  - name: integrations
    remote_write: 
      - url: {{ grafana_cloud_prom_url }}
        basic_auth: 
         username: {{ grafana_cloud_prom_username }}
         password: {{ grafana_cloud_prom_password }}    
    scrape_configs: {% if grafana_scrapes is not defined %}[]
{% else %}
{% for scrape in grafana_scrapes %}

    - job_name: {{ scrape.job_name }}
      metrics_path: {{ scrape.path }}
      static_configs:
      - targets:
        - {{ scrape.target }}
{% endfor %}
{% endif %}

logs:
  configs:
  - name: integrations
    clients:
    - url: {{ grafana_cloud_loki_url }}
      basic_auth:
        username: {{ grafana_cloud_loki_username }}
        password: {{ grafana_cloud_loki_password }}
      external_labels:
        cluster: {{ nginx_env }}
        job: integrations/node_exporter
    positions:
      filename: /tmp/positions.yaml
    scrape_configs:
     - job_name: integrations/node_exporter_direct_scrape
       static_configs:
        - targets:
          - localhost
          labels:
            instance: hostname
            __path__: /var/log/*.log
            job: integrations/node_exporter      
    target_config:
      sync_period: 10s